{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "rules": {
    "no-console": "error",
    "sort-imports": "error",
    "quotes": ["error", "single"],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "camelcase": "error",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false,
        "argsIgnorePattern": "^_"
      }
    ],
    "semi": ["error", "always"],
    "no-trailing-spaces": ["error"],
    "prefer-rest-params": ["off"]
  },
  "ignorePatterns": [
    "src/types",
    "db/migrations"
  ]
}
